:root{
    --green: #67a767;
    --white: #ffffff;
    --black: #000000;
}
body{
    font-family: monospace;
    font-size: 20px;
    background: var(--bg);
    color: var(--fontColor);
}

li{
    list-style: circle;
}
.list{
    list-style: square;
}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor:var(--white);
}
.dark-theme{
    --bg:var(--black);
    --fontColor:var(--green);
    --btnBg:var(--white);
    --btnFontColor:var(--black);
}
.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn{
    position: absolute;
    top: 20%;
    left: 420px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}