body{
    margin-left: 25px;
    margin-top: 60px;
    background: rgb(39,39,39);
background: radial-gradient(circle, rgba(39,39,39,1) 0%, rgba(143,143,143,1) 100%);
}

.titulo{
    text-align: center;
    padding: 10px;
    color: rgb(235, 245, 245);
}
.comando{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: rgb(235, 245, 245);
}
.btns{
    text-align: center;
    padding: 10px;
}

#res{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-shadow: 15px  black;
}
img{
    width: 300px;
    height: 350x;
    
}
#img{
    text-align: center;
}